export HOSTFILE_DIR=/root
export CXL_SHM_LIB_DIR=/root/gromacs
export WORKLOAD_DIR=/home/sherry/workloads
export OSU_BENCHMARKS_DIR=/root/osu-micro-benchmarks-7.4-ext/libexec/osu-micro-benchmarks
export OSU_BENCHMARKS_CMPI_DIR=/root/osu-micro-benchmarks-cmpi/libexec/osu-micro-benchmarks
export OSU_BENCHMARKS_OPENMPI_DIR=/root/osu-micro-benchmarks-openmpi/libexec/osu-micro-benchmarks
export RUN_DIR=/root/cxlmemsim_eval

